.rodape {
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--preto);

    bottom: 0;

    /* bottom: 0;
    width: 100vw;
    position: fixed; */
}

.rodape h2 {
    font-weight: 400;
    font-size: 18px;
    color: var(--branco);
}